<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Medic Type</title>
  </head>
  <body>
    {{> header}}

    <p>Bienvenido a Medic Type!</p>

    <p>El nombre del primer paciente es: {{nombrePaciente}}</p>

    {{> footer}}
  </body>
</html>
